header{
  padding:5px 5% 20px 0;
  background-color:#FFD145;
  text-align:right;
  height:50px;
}
#homebut{
    background-color:#f0f0f0;
}
#hom{
  font-size: 24px;
  padding-left: 10px;
  color: black;
float:left;
}