
.main{
  margin:10px 8%;

    background-color:#FFE492;
  border-radius:10px

}
.poll-entry{
  background-color:#f0f0f0;
  margin:2px;
  width: 100%;
  height: 100%;
     color: black;
}
.poll-entry:hover{
  
  background-color:gray;
}

