
.main{
  margin:10px 8%;

    background-color:#FFE492;
  border-radius:10px

}
#chart_div{
padding-left: 40px;
  width:400px;
  margin:10px auto;
}
#fo{
  
  margin-bottom:10px;
}
#sel{
  margin-bottom: 5px;
}
